# Pandas

Importing Pandas Library

In [3]:
import numpy as np
import pandas as pd

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

#### Using Lists to Create a Series

In [3]:
pd.Series(data = my_list)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data = my_list , index = labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_list, labels)

a    10
b    20
c    30
dtype: int64

#### Using dictionary to create a series

In [6]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

Note that the index of the dictionary becomes the index of the Series

#### Using Numpy array to create Series

In [7]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [8]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

### Data in a Series

A pandas Series can hold a variety of object types:

In [9]:
pd.Series(data=labels, index = my_list)

10    a
20    b
30    c
dtype: object

In [10]:
# Even functions (although unlikely that we will use this)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [4]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [12]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [13]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [14]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [15]:
ser1['USA']

1

In [16]:
ser1[1]

2

In [17]:
# Adding an element in the list
ser1['France'] = 6
# Elements can be added directly just by specifying a new index
ser1

USA        1
Germany    2
USSR       3
Japan      4
France     6
dtype: int64

In [18]:
# Changing the value at an index directly
ser1['USA'] = 7

ser1

USA        7
Germany    2
USSR       3
Japan      4
France     6
dtype: int64

Operations are then also done based off of index:

In [19]:
ser1['USA'] = 1 
ser1 + ser2

France     NaN
Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

If the index value is not present in both the lists then NaN(not a number) is placed after the operation.